/*

Information about this site

*/

body{
    
    font-family: 'Raleway', sans-serif
}

a:hover{
    text-decoration: none
}

/*============================== Start Home Page ==============================*/

/*============ Start top-connection ============*/

.top-connection{
    background-color: #6aa7f5;
    color: #fff;
    padding-top: 8px
}

@media(max-width: 600px){
    .top-connection{
        text-align: center
    }
}

.top-connection .phone{
    padding-top: 6px
}

.top-connection i{
    color: #fff
}

.top-connection .fa-facebook,
.top-connection .fa-twitter,
.top-connection .fa-linkedin,
.top-connection .fa-google-plus{
    height: 30px;
    width: 30px;
    line-height: 30px;
    margin-right: 8px;
    border: 1px solid transparent;
    border-radius: 50%;
    transition: all .3s ease-in-out
}

.top-connection .fa-facebook:hover{ background-color: #3b5998 }

.top-connection .fa-twitter:hover{ background-color: #1da1f2 }

.top-connection .fa-linkedin:hover{ background-color: #0077b5 }

.top-connection .fa-google-plus:hover{ background-color: #dd4b39 }

/*============ End top-connection ============*/

/*============ Start side-socials ============*/

.side-socials{
    position: fixed;
    top: 30%;
    left: 0;
    z-index: 50000!important;
    display: none
}

.side-socials li{ margin: 0!important }

.side-socials .fa-facebook,
.side-socials .fa-twitter,
.side-socials .fa-linkedin,
.side-socials .fa-google-plus{
    color: #fff;
    height: 40px;
    width: 60px;
    line-height: 40px;
    position: relative;
    left: -20px;
    transition: all .3s ease-in-out
}

.side-socials .fa-facebook:hover,
.side-socials .fa-twitter:hover,
.side-socials .fa-linkedin:hover,
.side-socials .fa-google-plus:hover{
    left: 0px
}

.side-socials .fa-facebook{ background-color: #3b5998 }

.side-socials .fa-twitter{ background-color: #1da1f2 }

.side-socials .fa-linkedin{ background-color: #0077b5 }

.side-socials .fa-google-plus{ background-color: #dd4b39 }


/*============ End side-socials ============*/

/*============ Start navbar ============*/

.navbar{
    margin: 0;
    background-color: #fff;
    border: 0
}

.navbar .navbar-toggle{ background-color: #6aa7f5 }

.navbar .navbar-nav a,
.navbar .navbar-nav li{ background-color: #fff }

@media(max-width: 600px){
    .navbar{
        height: 75px
    }
    .navbar-toggle{
        margin-top: 22px
    }
}

.navbar .navbar-brand{ margin: 0; padding: 0 }

.navbar .navbar-brand img{ width: 70px; margin-left: 10px }

.navbar .nav a{
    padding-top: 25px;
    padding-bottom: 25px;
    color: #0077b5!important;
    font-weight: 800;
    font-size: 15px
}

.navbar .nav a:hover{ color: #fff!important }

.navbar .nav .a-parent{
    position: relative;
    overflow: hidden;
    z-index: 2
}

.navbar .nav .a-child{
    position: absolute;
    bottom: -100%;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #6aa7f5;
    transition: all .3s ease-in-out
}

.navbar .nav a:hover .a-child{ bottom: 0 }

.navbar .nav a:hover .a-parent{ color: #fff!important }

/*============ End navbar ============*/

/*============ Start home-slider ============*/

.home-slider{
    height: 82.6vh;
    background-color: #6aa7f5;
    overflow: hidden;
    position: relative
}

.sl-slider{
    filter: brightness(90%)
}

.home-slider #slider .sl-slide-inner{
    padding-left: 20%
}

.home-slider #slider .sl-slide-inner blockquote{
    background-color: rgba(0, 0, 0, .5);
    display: inline-block;
    margin: 0 auto;
    width: 70%!important;
    border-left-width: 10px;
    border-top-right-radius: 30px;
    top: 80px!important;
    padding: 15px
}

.home-slider #slider .sl-slide-inner p{
    font-size: 35px;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 800;
    letter-spacing: 2px
}

@media(max-width: 600px){
    .home-slider #slider .sl-slide-inner p{
        font-size: 20px
    }
}

.home-slider #nav-dots{
    bottom: 10%
}

.home-slider #nav-dots span{
    box-shadow: 0px 0px 10px 2px #003880!important
}

.home-slider .nav-dots span.nav-dot-current:after{
    background-color: #0077b5;
}

/*============ End home-slider ============*/

/*============ Start we-offer ============*/

.we-offer{ padding: 40px 0; position: relative; overflow: hidden}

.we-offer:before,
.we-offer:after{
    content: '';
    display: block;
    position: absolute;
    top: -50px;
    z-index: 5;
    border-top: 50px solid transparent;
    border-right: 108vh solid #fff;
    border-bottom: 0px solid transparent;
    border-left: 0px solid transparent
}

.we-offer:before{ right: 0 }

.we-offer:after{
    left: 0;
    transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg)
}


@media(max-width: 705px){
    .we-offer:before,
    .we-offer:after{display: none}
}

.we-offer h2{ text-transform: capitalize; margin-bottom: 30px }

.we-offer h2 span{ color: #6aa7f5 }

.we-offer .offer{
    margin-bottom: 20px;
    min-height: 110px;
    overflow: visible
}

.we-offer .offer img{ transition: all .5s ease-in-out }

.we-offer .offer:hover img{ transform: scale(1.2) rotateY(360deg) }

.we-offer .offer .media-heading{
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    color: #0077b5
}

.we-offer .offer p{
    color: #959595;
    line-height: 1.5;
    text-align: justify
}

/*============ End we-offer ============*/

/*============ Start testi ============*/

.testi{
    background: url(../img/testi-bg.jpg) no-repeat fixed;
    background-size: cover
}

.testi .overlay{
    padding: 60px 0;
    padding-bottom: 80px;
    background-color: rgba(0, 0, 0, .8)
}

.testi h3{
    font-size: 35px;
    color: #fff;
    text-transform: capitalize;
    margin-bottom: 20px
}

.testi h3 span{ color: #6aa7f5 }

.testi .carousel-indicators{ bottom: -50px!important }

.testi .carousel-indicators li{ width: 40px; border: 1px solid #ddd }

.testi .carousel-indicators .active{ background-color: #ddd }

.testi .item-info p{
    color: #fff;
    font-size: 18px;
    width: 80%;
    margin: 0 auto;
    letter-spacing: 1px;
    line-height: 1.5
}

.testi .item-info .item-name{ margin-left: 10%; margin-top: 30px }

.testi .item-info .item-name img{
    height: 100px;
    width: 100px;
    border-radius: 50%
}

.testi .item-info .item-name h4{ color: #fff }

.testi .item-info .item-name span{
    color: gray;
    font-size: 12px;
    position: relative;
    left: 10px
}

/*============ End testi ============*/

/*============ Start our-clients ============*/

.our-clients{ padding: 40px 0 }

.our-clients h2{ font-size: 35px; margin-bottom: 30px }

.our-clients h2 span{ color: #6aa7f5 }

@media(max-width: 500px){
    .our-clients  img{
        width: 100%!important
    }
}

.our-clients .owl-prev,
.our-clients .owl-next{
    position: relative;
    transition: all .3s ease-in-out
}

.our-clients .owl-prev{ right: 45% }

.our-clients .owl-next{ left: 45% }

@media(max-width: 700px){
    .our-clients .owl-prev{
        right: 25%
    }

    .our-clients .owl-next{
        left: 25%
    }

}


.our-clients .owl-prev:after,
.our-clients .owl-next:after{
    display: block;
    padding-top: 3px;
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    width: 100%;
    height: 100%;
    background-color: #6aa7f5;
    border-radius: 5px;
    font-weight: 800
}


.our-clients .owl-prev:after{ content: "<" }

.our-clients .owl-next:after{ content: ">" }

.our-clients .items-1{ transform: scale(.6) }

/*============ End our-clients ============*/

/*============ Start latest-work ============*/

.latest-work{
    background: url(../img/latest-bg.jpg) no-repeat fixed;
    background-size: cover;
    overflow: hidden
}

.latest-work .overlay{
    padding: 40px 0;
    background-color: rgba(255, 255, 255, .9)
}

.latest-work h2{ font-size: 35px; margin-bottom: 40px }

.latest-work h2 span{ color: #6aa7f5 }

.latest-work .project{
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    background-color: #fff;
    margin-bottom: 20px;
    height: 400px;
    transition: all .3s ease-in-out
}

.latest-work .project:hover{
    transform: scale(1.1);
    -wekit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    box-shadow: 2px 2px 10px 0px lightgray;
    -webkit-box-shadow: 2px 2px 10px 0px lightgray;
    -moz-box-shadow: 2px 2px 10px 0px lightgray
}

.latest-work .project img{ width: 100% }

.latest-work .project .pro-info{ padding: 10px }

.latest-work .project .pro-info h4{ color: gray }

.latest-work .project:hover h4{color: #6aa7f5}

.latest-work .project .pro-info p{ color: #9b9b9b }

/*============ End latest-work ============*/

/*============ Start footer ============*/

footer{
    padding: 8px 0 5px;
    background-color: #1f1f1f;
    color: #fff
}

/*============ End footer ============*/

/*============ Start up ============*/

.fa-chevron-up{
    position: fixed;
    bottom: 20px;
    right: 20px;
    height: 40px;
    width: 40px;
    line-height: 40px;
    background-color: #0077b5;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all .3s ease-in-out;
    display: none
}

.fa-chevron-up:hover{ background-color: #02202f }

/*============ End up ============*/

/*============ Start price-form ============*/

.price-form .modal-content{ padding: 20px; padding-right: 30px }

.price-form>button{
    height: 64px;
    width: 64px;
    border-radius: 50%;
    margin: 0;
    padding: 0;
    margin-top: -2px;
    position: fixed;
    top: 30%;
    right: 20px;
    z-index: 1000000;
    outline: none;
    font-size: 15px;
    font-weight: 600;
    background-color: #6aa7f5;
    border: none;
    animation: notice 1s linear alternate-reverse infinite both
}

@keyframes notice{
    0%{box-shadow: 1px 1px 10px 5px #0077b5}
    50%{box-shadow: 1px 1px 15px 10px #189ee3}
    750%{box-shadow: 1px 1px 15px 10px #8ed2f5}
    100%{box-shadow: 1px 1px 20px 15px rgba(92, 192, 244, .2)}
}

.price-form .col-md-6{ width: 38% }

.price-form .input-group{ width: 100% }

.price-form form input,
.price-form form textarea{
    border: none;
    outline: none;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    width: 100%;
    margin-top: 20px
}

.price-form form textarea{ min-height: 110px; width: 95% }

.price-form form [type="file"]{ border: none; width: 100% }

.price-form form [type="submit"]{
    border: none;
    width: 34%;
    margin-left: 15px;
    background-color: #0043d9;
    color: #fff;
    font-weight: 600;
    padding: 10px;
    border-radius: 5px;
    text-transform: uppercase;
    transition: all .3s ease-in-out
}

.price-form form [type="submit"]:hover{ background-color: #0537a8 }

/*============ End price-form ============*/

/*============================== End Home Page ==============================*/

/*============================== Start service Page ==============================*/
/*============ Start languages ============*/

.languages{ padding: 40px 0; overflow: hidden }

.languages h2{letter-spacing: 1px}

.languages h2 hr{
    width: 30px;
    margin-left: 0;
    border: 0;
    height: 4px;
    background-color: #6aa7f5
}

.languages h2~p{
    color: gray;
    font-size: 15px;
    letter-spacing: 1px;
    line-height: 1.5
}

.languages .multi-language span{color: #6aa7f5; font-weight: 600}

.languages .multi-language h4{ color: gray; margin-top: 15px }

.languages .multi-language h4 span{color: #6aa7f5; font-weight: 600}

.languages .tree-language img{ display: block; margin: 0 auto }

/*============ End languages ============*/

/*============ Start service ============*/

.service{
    background: url(../img/service/service-bg.jpg) no-repeat fixed;
    background-size: cover;
    overflow: hidden
}

.service .overlay{
    padding: 40px 0;
    background-color: rgba(255, 255, 255, .9)
}

.service h2 span{color: #6aa7f5; font-weight: 600}

.service h2 hr{
    width: 30px;
    margin-left: 0;
    border: 0;
    height: 4px;
    background-color: #6aa7f5
}

.service h3 span{color: #6aa7f5; font-weight: 600}

.service  p{
    color: gray;
    font-size: 15px;
    line-height: 1.6
}

/*============ End service ============*/

/*============ Start features ============*/

.features{
    background: url(../img/service/features-bg.jpg) no-repeat fixed;
    background-size: cover;
    overflow: hidden
}

.features .overlay{ padding: 100px 0 }

.features h2{color: #fff; text-transform: capitalize}

.features h2 span{color: #6aa7f5; font-weight: 600}

.features h2 hr{
    width: 30px;
    margin-left: 0;
    border: 0;
    height: 4px;
    background-color: #6aa7f5
}

.features .group-feats{
    color: #fff; 
    text-align: center;
    position: relative;
    min-height: 350px;
    border-radius: 5px;
    overflow: hidden;
    margin-bottom: 20px;
    transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition: all .5s ease-in-out
}

.features .group-feats:hover{
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg)
}

.features .group-feats .front-feat{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f
}

.features .group-feats .front-feat img{
    display: block;
    margin: 20px auto;
    margin-bottom: 30px
}

.features .group-feats .behind-feat{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #1f1f1f;
    padding: 20px;
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg)
}

.features .group-feats .behind-feat p{
    font-size: 16px;
    line-height: 2;
    letter-spacing: 1px
}

/*============ End features ============*/
/*============================== End service Page ==============================*/

/*============================== Start about Page ==============================*/
/*============ Start about-identity ============*/

.about .about-identity{ background-color: #0077b5; padding: 20px 0 }

.about .about-identity h2{ margin: 0; color: #fff }

/*============ End about-identity ============*/

/*============ Start words-about ============*/

.about .words-about{ padding: 40px  }

.about .words-about h2 span{ color: #6aa7f5; font-weight: 600 }

.about .words-about p{ color: gray; font-size: 15px }

/*============ End words-about ============*/

/*============ Start join ============*/

.about .join{ padding: 40px 0 }

.about .join .join-group{
    height: 200px;
    overflow: hidden;
    position: relative;
    border: 1px solid #ddd;
    border-radius: 5px;
    transform-style: preserve-3d;
    --webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transition: all .5s ease-in-out
}

.about .join .join-group:hover{
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg)
}

.about .join .front-join{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: #fff
}

.about .join h3 span{color: #6aa7f5; font-weight: 600}

.about .join p{
    color: gray;
    line-height: 1.5;
    letter-spacing: 1px
}

.about .join button:hover i{transform: scale(1.8)}

.about .join .behind-join{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    background: url(../img/behind-join-bg.jpg) no-repeat;
    background-size: cover;
    transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg)
}

.about .join .behind-join .overlay{
    height: 100%;
    width: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, .8)
}

.about .join .behind-join p{
    color: #fff;
    font-size: 16px;
    margin-top: 5%
}

.about .join .behind-join p span{color: orangered}

/*============ End join ============*/

/*============ Start our-team ============*/

.about .our-team{
    background: url(../img/team-bg.jpg) no-repeat fixed;
    background-size: cover
}

.about .our-team .overlay{
    padding: 40px 0;
    background-color: rgba(0, 0, 0, .8)
}

.about .our-team h3{color: #fff}

.about .our-team h3 span{ color: #6aa7f5; font-weight: 600 }

.about .our-team .carousel-indicators{ bottom: -30px }

.about .our-team .carousel-indicators li{
    border: 1px solid #ddd;
    width: 30px
}

.about .our-team .carousel-indicators .active{
    background-color: #ddd
}

.about .our-team .item p{
    color: #fff;
    width: 80%;
    margin: 0 auto;
    min-height: 100px
}

.about .our-team .item .item-name{ color: #fff; margin-left: 10% }

.about .our-team .item .item-name span{ color: gray; font-size: 12px }

/*============ End our-team ============*/
/*============================== End about Page ==============================*/

/*============================== Start Contact Page ==============================*/
/*============ Start identity ============*/

.contact-identity{ background-color: #0077b5; padding: 20px 0 }

.contact-identity h2{ margin: 0; color: #fff }

/*============ End identity ============*/

/*============ Start get-in ============*/

.get-in{
    background: url(../img/contact-bg-2.jpg) no-repeat fixed;
    background-size: cover;
    overflow: hidden
}

.get-in .overlay{
    padding: 60px 0;
    background-color: rgba(0, 0, 0, .7)
}

.get-in .get-info{ color: #ddd; padding-left: 70px }

.get-in .get-info h3{
    color: ;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 600
}

.get-in .get-info p{
    width: 90%;
    margin-bottom: 30px;
    line-height: 1.8
}

.get-in .get-info p b{
    color: #db002a
}

@media(max-width: 600px){
    .get-in .get-info p{
        width: 90%
    }
}

.get-in .get-info li{
    line-height: 2.5;
    font-size: 15px
}
.get-in .get-info i{
    color: #6aa7f5;
    font-size: 20px
}
/*============ End get-in ============*/

/*============ Strat form-info ============*/

.get-in .form-info{
    padding: 20px 5px;
    background-color: rgba(0, 0, 0, .6);
    width: 80%;
    box-shadow: 5px 5px 10px 0px rgba(255, 255, 255, 0.29)
}

@media(max-width: 500px){
    .get-in .form-info{width: 100%}
}

.get-in .form-info input,
.get-in .form-info textarea{
    border: none;
    outline: none;
    border-radius: 0;
    background-color: transparent;
    border-bottom: 1px solid #ddd;
    padding-left: 5px;
    width: 80%;
    color: #fff
}

.get-in .form-info input::placeholder,
.get-in .form-info textarea::placeholder{color: #ddd}

.get-in .form-info textarea{ min-height: 80px; max-width: 350px }

.get-in .form-info [type="submit"]{
    background-color: #367fdb;
    color: #fff;
    font-weight: 600;
    letter-spacing: 3px;
    font-size: 18px;
    padding: 10px;
    width: 76%;
    margin-left: 15px;
    border-bottom: 0;
    border-radius: 5px;
    transition: all .3s ease-in-out
}

.get-in .form-info [type="submit"]:hover{ background-color: #174872 }

/*============ End form-info ============*/
/*============================== End Contact Page ==============================*/

.active-a{ bottom: 0!important }

#pre-loader {
    background-color: #6aa7f5;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999999999999;
    height: 100vh;
    width: 100%
}

#pre-loader .sk-cube-grid {
  width: 100px;
  height: 100px;
  margin: 0 auto;
    margin-top: 50vh
}

#pre-loader .sk-cube-grid .sk-cube {
  width: 33%;
  height: 33%;
  background-color: #fff;
  float: left;
  -webkit-animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out;
          animation: sk-cubeGridScaleDelay 1.3s infinite ease-in-out; 
}
#pre-loader .sk-cube-grid .sk-cube1 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
#pre-loader .sk-cube-grid .sk-cube2 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
#pre-loader .sk-cube-grid .sk-cube3 {
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s; }
#pre-loader .sk-cube-grid .sk-cube4 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
#pre-loader .sk-cube-grid .sk-cube5 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }
#pre-loader .sk-cube-grid .sk-cube6 {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s; }
#pre-loader .sk-cube-grid .sk-cube7 {
  -webkit-animation-delay: 0s;
          animation-delay: 0s; }
#pre-loader .sk-cube-grid .sk-cube8 {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s; }
#pre-loader .sk-cube-grid .sk-cube9 {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

@-webkit-keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1); 
  }
}

@keyframes sk-cubeGridScaleDelay {
  0%, 70%, 100% {
    -webkit-transform: scale3D(1, 1, 1);
            transform: scale3D(1, 1, 1);
  } 35% {
    -webkit-transform: scale3D(0, 0, 1);
            transform: scale3D(0, 0, 1);
  } 
}